/*selector universal*/
*{
    margin:0;
    padding: 0;
}
/*selector de  etiqueta*/

body{
    background-color: rgb(161, 128, 154);
    color: rgb(0, 0, 0);
}
/*selector de id*/

#contenedor{

background-color: rgb(255, 227, 251);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(255, 251, 194);
margin: 1em;
border-radius: 5px;
text-align: center;


}

.card{
    /*sombra derecha-izquierda*/

    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 500px;
    margin:20px;
    text-align: center;
    border: 3px solid;
    border-radius: 10px;
    width: 5000px;
    left: 2000px;

}

.pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }